@use '../../utils/style_constants/constants.scss' as var;

.photobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
        width: 163px;
        height: 163px;
    }

    h2 {
        font-weight: var.$font-weight-700;
        color: white;
        size: 50px;
        line-height: 54px;
    }

    h3 {
        font-weight: var.$font-weight-600;
        color: white;
        size: 25px;
        line-height: 30px;
    }

    p {
        font-weight: var.$font-weight-400;
        color: white;
        size: 14px;
        line-height: 21px;
    }
}

