
@keyframes portfolioShowUp {
    0% {
        opacity: 0;
        height: 0;
        transition: opacity height all .3s linear ease-in-out; 
    }

    100% {
        opacity: 1;
        height: 98%;
        transition: opacity height all .3s linear ease-in-out; 
    }
}

@keyframes portfolioShowDown {
    0% {
        opacity: 1;
        height: 98%;
        transition: opacity height all .3s linear ease-in-out; 
      }
    100% {
    opacity: 0;
    height: 0;
    transition: opacity height all .3s linear ease-in-out; 
    }
}

// @keyframes animatePortf {
//     0% {
//         height: 20%;
//         width: 20%;
//         transform-origin: right bottom;
//         transform: scale(0);
//       }
//       100% {
//         height: 100%;
//         width: 100%;
//         transform-origin: right bottom;
//         transform: scale(1);
//       }
// }

// .animate-portfolio {
//     animation: animatePortf 1s alternate;
// }

.portfolio__container__content-box--item:hover {
    .portfolio-info {

        h4 {
            display: block;
        }

        p {
            display: block;
        }

        a {
            display: block;
        }
        
        width: 100%;
        height: 100%;
        animation: portfolioShowUp 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
}

.portfolio-info {
    animation: portfolioShowDown 0.3s ease-in-out, transform 0.3s ease-in-out;
}


