$main-dark-blue: rgba(34, 41, 53, 1);
$main-green: rgba(38, 193, 126, 1);
$main-gray: rgba(238, 238, 238, 1);
$main-raven: rgba(102, 112, 129, 1);

$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-400: 400;